body{
    max-width: 100%;
    overflow-x: hidden;
} 
.intro{
    position: relative;
    background-image: url('../images/backgrounds/h_img.jpg');
    height: 700px;
    background-size: cover;
    /* object-fit: cover center; */
}
.logo{
    position: absolute;
    padding-top: 18%;
    padding-left: 50%;
}