body{
    max-width: 100%;
    overflow-x: hidden;
} 
.intro{
    position: relative;
    background-image: url('../images/backgrounds/h_img.jpg');
    height: 700px;
    background-size: cover;
    /* object-fit: cover center; */
}
.logo{
    position: absolute;
    padding-top: 18%;
    padding-left: 50%;
}
.hoverthing{
    background-color: white;
}
.intro-header{
    color: white;
    text-align: center;
    position: absolute;
    padding-top: 30%;
    padding-left: 32%;
    font-size:100px;
}
.intro-text{
    color: white;
    position: absolute;
    padding-top: 39%;
    padding-left: 20%;
    font-size: smaller;
}
.togle-menu{
    padding-left: 50%;
    position: absolute;
    bottom: 2%;
}
.about{
    text-align: center;
    padding: 2%;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2%;
}

.services{
    background-image: url('../images/backgrounds/s_image.jpg');
    height: 350px;
    background-size: cover;
}